
main {
  background: rgba(245, 247, 255, 0.85);
  min-height: 100vh;
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  border-radius: 10px;
  margin: auto;
  width: 375px;
  height: 931px;
}

main .signup-image {
  background-image: url(../imags/image-signup-mobile.png);
  border-radius: 10px;
  width: 315px;
  height: 315px;
}

main .signup-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  width: 315px;
}

main h1 {
font-family: 'Mulish';
font-style: normal;
font-weight: 800;
font-size: 42px;
line-height: 120%;
text-transform: capitalize;
color: #2D2D2D;
}

main p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #1F1249;
}

main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

main form div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 10px 20px;
  gap: 12px;
  width: 315px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #DBE3FF;
  border-radius: 10px;
}

main form div img {
  padding-right: 10px;
  border-right: 1px solid #DBE3FF;
}

main form input {
  flex: 1;
  width: 234px;
  height: 44px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #3B3B3B;
}

main a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;

  width: 100%;
  height: 60px;

  background: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);
  box-shadow: 0px 6px 18px #9CADF2;
  border-radius: 10px;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

main a:hover {
  color: #08174E;
  background: linear-gradient(113.87deg, rgba(38, 99, 223, 0.1) 14.81%, rgba(117, 143, 240, 0.1) 88.76%);
}

@media (min-width: 768px) {

  main {
    background: url(../imags/gradient-background.png), #FFFFFF;
    background-size: 100% 150%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin: 0 60px;
    gap: 60px;
    width: 1080px;
    height: 656px;
    background: rgba(245, 247, 255, 0.85);
    border-radius: 10px;
  }

  main .signup-image {
    flex: 1;
    background-image: url(../imags/image-signup-desktop.png);
    background-position: 50%;
    /* width: 450px; */
    height: 536px;
    width: auto;
  }

  main .signup-text {
    flex: 1;
    align-items: start;
  }

  main h1 {
    font-size: 5vmin;
  }

  main .signup-text p {
    text-align: start;
  }

  main form div {
    width: 100%;
  }

}