
main {
  background: rgba(245, 247, 255, 0.85);
  min-height: 100vh;
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  border-radius: 10px;
  margin: auto;
  width: 375px;
  height: 647px;
}

main .welcome-image {
  background-image: url(../imags/image-welcome-mobile.png);
  border-radius: 10px;
  width: 315px;
  height: 315px;
}

main .welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 315px;
}

main h1 {
font-family: 'Mulish';
font-style: normal;
font-weight: 800;
font-size: 42px;
line-height: 120%;
text-transform: capitalize;
color: #2D2D2D;
}

main p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #1F1249;
}

main a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  width: 100%;
  height: 60px;
  background: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);
  box-shadow: 0px 6px 18px #9CADF2;
  border-radius: 10px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

main a:hover {
  color: #08174E;
  background: linear-gradient(113.87deg, rgba(38, 99, 223, 0.1) 14.81%, rgba(117, 143, 240, 0.1) 88.76%);
}

@media (min-width: 768px) {

  main {
    background: url(../imags/gradient-background.png), #FFFFFF;
    background-size: 100% 150%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    padding: 40px;
    width: 1080px;
    height: 435px;
    background: rgba(245, 247, 255, 0.85);
    border-radius: 10px;
  }

  main .welcome-image {
    flex: 1;
    background-image: url(../imags/image-welcome-desktop.png);
    background-position: 50%;
    /* width: 400px; */
    height: 300px;
    width: auto;
  }

  main .welcome-text {
    flex: 1;
    align-items: start;
  }

  main .welcome-text p {
    text-align: start;
  }

}